  @mixin coverer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .video-header {
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 100vh;
    &, video, .viewport-header {
      @include coverer;
    }
    video {
      background: brown;
      object-fit: cover;
    }
    .viewport-header {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  html, body {
    height: 100%;
    overflow-x: hidden;
  }
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    line-height: 1.4;
  }
  body {
    margin: 0;
  }
  
  
  
  h1 {
    font-family: 'Syncopate', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
    span {
      display: block;
      font-size: 10vw;
      letter-spacing: -0.6rem;
    }
  }
  
  main {
    background: white;
    position: relative;
    padding: 1rem;
    margin-top: 100vh;
    &::before {
      content: "";
      @include coverer;
      top: -100vh;
    }
    p {
      max-width: 600px;
      margin: 1rem auto;
    }
  }
  
  